.table {
    width: 70%;
    height: 70%;
    border: 10px solid #512b58;
    margin: 5%;
    box-shadow: 5px 5px 10px lightgrey;
}

.table_column_left {
    width: 50%;
    background-color: #fffdf9;
    vertical-align: top;
    padding: 50px 0px 0px 0px;
}

.table_column_right {
    width: 50%;
    background-color: #fffdf9;
    vertical-align: top;
    padding: 50px 0px 0px 0px; 
}

.title_login {
    color: #512b58;
    font-family: 'Segoe UI';
    font-size: 30px;
    font-weight: bold;
    margin: 5px;
}

.title_register {
    color: #512b58;
    font-family: 'Segoe UI';
    font-size: 30px;
    font-weight: bold;
}


/*----LOGIN STYLE----*/

.index_input {
    width: 300px;
    height: 30px;
    margin: 10px;
    font-size: 15px;
    padding-left: 5px;
}

.index_button {
    width: 250px;
    height: 40px;
    background-color: #f1f3f4;
    box-shadow: 2px 2px 3px #512b58;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Segoe UI';
    margin: 20px 0px 20px 0px;
    color: #512b58;
}

.account {
    color: #2a7886;
    font-size: 12px;
    font-family: 'Segoe UI';
}

.signup {
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-family: 'Segoe UI';
}
/*----REGISTER STYLE----*/

.register_input {
    width: 300px;
    height: 30px;
    margin: 5px;
    font-size: 15px;
}

.register_button {
    width: 250px;
    height: 40px;
    background-color: #f1f3f4;
    box-shadow: 2px 2px 3px #512b58;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Segoe UI';
    margin: 20px 0px 20px 0px;
    color: #512b58;
}

/*ITEMS STYLE*/

.question_select {
    width: 250px;
    height: 40px;
    background-color: #f1f3f4;
    box-shadow: 2px 2px 3px #512b58;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Segoe UI';
    margin: 20px 0px 20px 0px;
    color: #512b58;
}

.items {
    margin: 10px;
    font-size: 40px;
    font-weight: bold;
    text-shadow: white;
    color: #512b58;
}

.question_button {
    width: 200px;
    height: 40px;
    background-color: #f1f3f4;
    box-shadow: 2px 2px 3px #79bac1;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Segoe UI';
    margin: 20px 0px 20px 0px;
    color: #512b58;
}

/*HOME STYLE*/

.question {
    color: #512b58;
    font-size: 40px;
    font-weight: bold;
}

.question_column {
    margin: 20px;
}

.space {
    padding: 20px;
}

.images {
    width: 80px;
}

.ans_wro {
    font-size: 30px;
    font-weight: bold;
    color: #79bac1;
}

.button {
    width: 300px;
    height: 30px;
    text-align: left;
    font-weight: bold;
    margin-top: 10px;
    background-color: #f1f3f4;
    box-shadow: 2px 2px 3px #79bac1;
    color: #512b58;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Segoe UI';
}

.next_exit {
    width: 100%;
    margin-top: 100px;
}

.next_exit_tf {
    width: 100%;
    margin-top: 188px;
}

.next_exit2 {
    width: 100%;
    margin-top: 186px;
}



.question_pic {
    width: 60px;
}

.next {
    display: inline-block;
    padding: 15px 25px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    outline: none;
    color: #f1f3f4;
    background-color: #512b58;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.next:hover {
    background-color: #79bac1;
}

.next:active {
    background-color: #2a7886;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}



.exit_now {
    color: #512b58;
    font-size: 40px;
    font-weight: bold;
    word-wrap: break-word;
}

.yes_no {
    display: inline-block;
    padding: 15px 25px;
    margin-top: 130px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #f1f3f4;
    background-color: #512b58;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.yes_no:hover {
    background-color: #79bac1;
}

.yes_no:active {
    background-color: #2a7886;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.no {
    width: 81px;
}

.title {
    font-size: 35px;
    font-weight: bold;
    text-shadow: 3px 3px #79bac1;
    color: #512b58;
    margin: 50px;
}

.title_column {
    padding-top: 50px;
}

.img_index {
    width: 100%;
    height: 200px;
}

.congrats {
    font-size: 45px;
    text-shadow: 2px 3px #512b58;
    font-weight: bold;
    color: #2a7886;
}

.congratulation {
    padding-top: 50px;
}

.score {
    display: inline-block;
    padding: 15px 25px;
    font-size: 25px;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #f1f3f4;
    background-color: #2a7886;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.space_score {
    padding: 50px;
    padding-bottom: 50px;
}

.play_exit {
    display: inline-block;
    padding: 15px 25px;
    margin-top: 70px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #f1f3f4;
    background-color: #512b58;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.play_exit:hover {
    background-color: #79bac1;
}

.play_exit:active {
    background-color: #2a7886;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.exit {
    padding-right: 51px;
    padding-left: 51px;
}