.table {
    width: 90%;
    border: 10px solid #2a7886;
    border-collapse: collapse;
    background-color: #fffdf9;
    height: 92%;
}

.header {
    text-shadow: 3px 3px #2a7886;
    font-size: 50px;
    color: #512b58;
    font-weight: bolder;
}

.column {
    padding: 50px;
}

.body_heading {
    font-size: 45px;
    font-weight: bold;
    color: #2a7886;
    padding-left: 250px;
}

.input {
    width: 300px;
    height: 40px;
    font-size: 20px;
}

.spaces {
    padding-bottom: 150px;
}

.submit {
    display: inline-block;
    padding: 15px 25px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #f1f3f4;
    background-color: #512b58;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.submit:hover {
    background-color: #79bac1;
}

.submit:active {
    background-color: #2a7886;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.submittwo {
    display: inline-block;
    padding: 15px 45px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #f1f3f4;
    background-color: #512b58;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.submittwo:hover {
    background-color: #79bac1;
}

.submittwo:active {
    background-color: #2a7886;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.submittwo2 {
    padding-left: 100px;
    padding-right: 100px;
}

.submittwo3 {
    padding-left: 60px;
    padding-right: 60px;
}

.space {
    padding: 50px;
}

.img {
    width: 100%;
    height: 100px;
}

.number {
    padding: 10px;
    width: 200px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    background-color: #096f7a;
    box-shadow: 2px 2px #512b58;
}

.space_num {
    padding: 10px;
}

.select {
    width: 300px;
    height: 25px;
    padding: 5px;
    font-weight: bold;
    margin-right: 100px;
    box-shadow: 2px 2px #79bac1;
}

.label {
    font-size: 20px;
    font-weight: bold;
    padding-left: 100px;
}

.question {
    width: 300px;
    height: 60px;
    resize: none;
    font-weight: bold;
    margin-right: 100px;
    box-shadow: 2px 2px #79bac1;
}

.submitone {
    display: inline-block;
    padding: 15px 25px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #f1f3f4;
    background-color: #512b58;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.submitone:hover {
    background-color: #79bac1;
}

.submitone:active {
    background-color: #2a7886;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


.submitthree {
    display: inline-block;
    padding: 15px 35px;
    margin-left: 150px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #f1f3f4;
    background-color: #512b58;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.submitthree:hover {
    background-color: #79bac1;
}

.submitthree:active {
    background-color: #2a7886;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.three {
    margin-top: 15px;
}


.stud_list_table {
    width: 70%;
    text-align: left;
    border: white;
}

.stud_list_tr {
    background: #2a7886;
    text-align: center;
    font-weight: bold;
    color: #512b58;
}

.table_column {
    vertical-align: top;
}

.stud_list_tr2 {
    background: #79bac1;
    color: #512b58;
}

th {
    text-align: center;
    height: 30px;
    padding: 2px;
}

td {
    height: 20px;
    padding: 5px;
}

.cae_users {
    text-shadow: 2px 2px #2a7886;
    color: #512b58;
    font-size: 50px;
    font-weight: bold;
}

.readmore {
    text-decoration: none;
    border: none;
    background-color: #f1f3f4;
    padding: 5px;
    border-radius: 3px;
}

.readmore:hover {
    background-color: #512b58;
    color: white;
}

.readmore:active {
    background-color: #2a7886;
    color: white;
}

.pages {
    background-color: #2a7886;
    margin: 5px;
    margin-bottom: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    display: inline-block;
    color: white;
    font-weight: bold;
}

.pages:hover {
    background-color: #79bac1;
    color: white;
}

.pages:active {
    background-color: #096f7a;
    color: white;
}

.pages_space {
    padding: 20px;
}

/*INFORMATION STYLE*/

.info {
    vertical-align: top;
    width: 30%;
    margin-top: 50px;
}

.information {
    margin-top: 50px;
    margin-left: 40px;
}

.info_name {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Segoe UI';
}

.info_column {
    font-size: 15px;
    background-color: #79bac1;
    color: #512b58;
    padding-left: 20px;
    border: 1px solid #512b58;
    width: 250px;
    font-family: 'Segoe UI';
}

.submitfour {
    display: inline-block;
    padding: 15px 25px;
    font-size: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #f1f3f4;
    background-color: #512b58;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.submitfour:hover {
    background-color: #79bac1;
}

.submitfour:active {
    background-color: #2a7886;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.table_column2 {
    vertical-align: top;
    padding-top: 70px;
}

.button_2 {
    padding-bottom: 20px;
}

.pages2 {
    background-color: #2a7886;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    display: inline-block;
    color: white;
    font-weight: bold;
}

.pages2_space {
    padding-left: 800px;
}

.pages2:hover {
    background-color: #79bac1;
    color: white;
}

.pages2:active {
    background-color: #096f7a;
    color: white;
}